@import 'node_modules/pearson-elements/scss/base/variables';
@import 'node_modules/pearson-elements/scss/elements/color/variables';
@import 'node_modules/pearson-elements/scss/elements/typography/variables';

/*focus styles*/
.mouseDetected .o-drawer a,
.mouseDetected .o-drawer button {
  outline: 0;
}

/* layers */
.o-contextual-help__topics,
.o-contextual-help__topic-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  transition: left 0.5s ease-in-out;
  border-top: 1px solid #d9d9d9;
}

/* make room for app-header if exists */
.exists-o-header .o-contextual-help__topics,
.exists-o-header .o-contextual-help__topic-content {
  top: 70px;
  height: calc(100% - 70px);
}

@media (max-width: 767px) {
  .exists-o-header .o-contextual-help__topics,
  .exists-o-header .o-contextual-help__topic-content {
    top: 60px;
    height: calc(100% - 60px);
  }
}

/* default first layer in visible position */
.o-contextual-help__topic-content {
  left: 100%;
}

/* topic content (second layer) in visible position */
.o-contextual-help__content--visible {

  .o-contextual-help__topics {
    left: -100%;

    .topic_heading {
      margin-left: -30px;
    }
  }
  .o-contextual-help__topic-content {
    left: 0px;

    .o-contextual-help__header .back-to-help {
      margin-left: 0;
      margin-right: -90%; /* text is longer than design thinks it is */
      opacity: 1;
    }
  }
}

.o-contextual-help__header {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid $pe-color-alto;
  
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  /* help topics */
  .topic_heading {
    margin: 0;
    transition: margin-left .3s ease-in-out .3s;
  }

  .close-help {
    float: right;
  }

  .back-to-help {
    margin-left: 40%;
    padding: 2px 2px 2px 0;
    opacity: 0;
    transition: margin-left .3s ease-in-out .2s, opacity .3s .2s;

    svg {
      float: left;
    }
    span {
      margin-left: 5px;
      line-height: 18px;
    }
  }
}

.o-contextual-help__excerpt {
  margin-top: 25px; 
  cursor: pointer;

  h3 a {
    color: $pe-color-charcoal;
    text-decoration: none;
  }
}
.o-contextual-help__excerpt-list div:first-child .o-contextual-help__excerpt {
  margin: 0;
}

.o-contextual-help__excerpt p:after {
  content: '\02026';/* hellip */
}
.o-contextual-help__excerpt-list div:last-child
 .o-contextual-help__excerpt p:last-child,
.o-contextual-help__topic p:last-child {
  margin-bottom: 0;
}

.o-contextual-help__topic {
  h2 {
    margin-bottom: 25px;
  }
  h3, h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.28571rem;
  }
  p {
    margin-bottom: 25px;
    color: #6a7070;
    font-size: 1rem;
    line-height: 1.28571rem;
  }
  ul, ol {
    padding-left: 2.5em;
  }
  li {
    color: #6a7070;
    margin-bottom: .6em;
  }

  /* accordion */
  .o-disclosure {
    margin-top: 25px;
    padding: 2px;
    color: $pe-color-charcoal;
    background-color: transparent;
    border: 0;

    svg {
      margin-right: 3px;
    }
  }
  .o-contextual-help__accordion h3:first-child button {
    margin-top: 0;
  } 
  .o-panel--closed {
    display: none;
  }
  .o-panel--opened {
    display: block;
  }
}
