@import 'node_modules/pearson-elements/scss/base/variables';
@import 'node_modules/pearson-elements/scss/elements/color/variables';
@import 'node_modules/pearson-elements/scss/elements/typography/variables';

/* drawer element */
.o-contextual-help__drawer.o-drawer {
  font-size: $pe-font-size-large;
  background-color: $pe-color-white-gray;
}

/* layers */
.o-contextual-help__topics,
.o-contextual-help__topic-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 32px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  transition: left 0.4s ease;
}

/* make room for app-header if exists */
.exists-o-header .o-contextual-help__topics,
.exists-o-header .o-contextual-help__topic-content {
  padding-top: 48px;
}

/* default first layer in visible position */
.o-contextual-help__topic-content {
  left: 100%;
}

/* topic content (second layer) in visible position */
.o-contextual-help__content--visible {
  .o-contextual-help__topics {
    left: -100%;
  }
  .o-contextual-help__topic-content {
    left: 0px;
  }
}

.o-contextual-help__header {
  margin-bottom: 32px;
  padding: 20px 24px 20px 32px;
  background-color: $pe-color-moonlight;
  border-bottom: 1px solid $pe-color-concrete;
  overflow: hidden;

  /* help topics */
  .topic_heading {
    margin: 0;
    font-size: $pe-font-size-large;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }

  svg[class$='-18'] {
    width: 14px;
    height: 14px;
  }

  .close-help svg,
  .back-to-help svg {
    margin-top: 2px;
  }

  .close-help {
    float: right;
    width: 16px;
    height: 16px;
  }

  .back-to-help {
    display: block;
    width: 90%;

    svg {
      float: left;
    }
    span {
      display: block;
      text-align: center;
    }
  }
}

/* first heading of each layer */
.o-contextual-help__excerpt-list>div:first-child h3,
#o-contextual-help-topic-content-target h2:first-child {
  margin-top: 0;
}
.o-contextual-help__excerpt p {
  min-height: 4.7em;/* there are 3 lines of content at most */

  &:after {
    content: '\02026';/* hellip */
  }
}

.o-contextual-help__topic {
  padding: 0 32px;
  border-bottom: 1px solid #e8e8e8;

  h1, h2, h3, h4 {
    font-size: $pe-font-size-large;
    font-weight: bold;
    line-height: 1.3em;
    margin: 24px 0;

    a {
      font-weight: normal;
    }
  }
  ul, ol {
    padding-left: 2.5em;
  }
  li {
    margin-bottom: .6em;
  }

  /* accordion */
  .o-disclosure {
    padding: 0;
    background-color: transparent;
    border: 0;
  }
  .o-panel--closed {
    display: none;
  }
  .o-panel--opened {
    display: block;
  }
}
