@import 'node_modules/pearson-elements/scss/base/variables';
@import 'node_modules/pearson-elements/scss/elements/color/variables';
@import 'node_modules/pearson-elements/scss/elements/typography/variables';

/* drawer element */
/* temp */
.o-drawer {
  width: 320px !important;
  padding: 30px !important;
  border-left: 1px solid #d9d9d9;
  box-sizing: border-box !important;
  background-color: #fff !important;
  box-shadow: 0 3px 5px 0 rgba(199,199,199,0.70);
}

 .o-drawer .pe-trap {
    position: absolute !important;
    width: auto !important;
    height: auto !important;
    bottom: 5px !important;
    right: 30px !important;
    padding: 5px !important;
    color: #047a9c !important;
    border: 1px solid #047a9c !important;
    background-color: #fff !important;
    opacity: 0;
  }
 .o-drawer .pe-trap:after {
    content: 'close';
  }
      .o-drawer .pe-trap:focus {
        opacity: 1 !important;
      }

body {
  padding-top: 70px;
}
.o-app-header {
  right: 0;
  left: 0;
  margin-bottom: 0;
  padding: 13px 15px;
  height: 70px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e9e9e9;
  position: fixed;
  top: 0;
  z-index: 997;
}

/* end temp*/

/* layers */
.o-contextual-help__topics,
.o-contextual-help__topic-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  transition: left 0.4s ease;
}

/* make room for app-header if exists */
.exists-o-header .o-contextual-help__topics,
.exists-o-header .o-contextual-help__topic-content {
  top: 70px;
  height: calc(100% - 70px);
}

@media (max-width: 767px) {
  .exists-o-header .o-contextual-help__topics,
  .exists-o-header .o-contextual-help__topic-content {
    top: 60px;
    height: calc(100% - 60px);
  }
}

/* default first layer in visible position */
.o-contextual-help__topic-content {
  left: 100%;
}

/* topic content (second layer) in visible position */
.o-contextual-help__content--visible {
  .o-contextual-help__topics {
    left: -100%;
  }
  .o-contextual-help__topic-content {
    left: 0px;
  }
}

.o-contextual-help__header {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid $pe-color-alto;
  overflow: hidden;

  /* help topics */
  .topic_heading {
    margin: 0;
  }

  .close-help svg,
  .back-to-help svg {
  }

  .close-help {
    float: right;
    margin-right: 1px;
    margin-top: 1px;
  }

  .back-to-help {
    display: block;
    width: 90%;

    svg {
      float: left;
    }
    span {
      display: block;
    }
  }
}

/* first heading of each layer */
.o-contextual-help__excerpt-list>div:first-child h3,
#o-contextual-help-topic-content-target h2:first-child {
  margin-top: 0;
}
.o-contextual-help__excerpt p {
  min-height: 4.7em;/* there are 3 lines of content at most */

  &:after {
    content: '\02026';/* hellip */
  }
}

.o-contextual-help__excerpt {
  margin-bottom: 25px; 
}
/* todo: remove from last child
 set text and header colour */
.o-contextual-help__topic {
  border-bottom: 1px solid $pe-color-alto;

  h1, h2, h3, h4 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.28571rem;

    a {
      font-weight: normal;
    }
  }
  ul, ol {
    padding-left: 2.5em;
  }
  li {
    margin-bottom: .6em;
  }

  /* accordion */
  .o-disclosure {
    padding: 0;
    background-color: transparent;
    border: 0;
  }
  .o-panel--closed {
    display: none;
  }
  .o-panel--opened {
    display: block;
  }
}
