////
/// @group o-icons
/// @link http://origami.pearsoned.com/registry/components/o-fonts
///

/// Font-face declaration sources
///
/// @param {String} fontName - path to the file, without the extension
@mixin oIconsSource($fontName) {
	// scss-lint:disable DuplicateProperty
	src: url(oIconsUseAsset($fontName + '.eot?-675gho'));
	src: url(oIconsUseAsset($fontName + '.woff?-675gho')) format('woff'),
		url(oIconsUseAsset($fontName + '.ttf?-675gho')) format('truetype'),
		url(oIconsUseAsset($fontName + '.svg?-675gho#' + $fontName)) format('svg');
}

@mixin oIconsIcon($name, $code) {
	.oc-icon-#{$name}:before {
		content: #{"\"\\"}#{$code + "\""};
	}
}

/// Font-face declaration for a given icon font family
///
/// @param {String} $family - name of the icon font family
@mixin oIconsInclude($family) {
	$iconSet: map-get($o-icons-icon-sets, $family);
	$iconPrefix: map-get($iconSet, 'prefix');

	@font-face {
		font-family: $family;
		@include oIconsSource($family);
		font-weight: normal;
		font-style: normal;
	}

	[class^="#{$iconPrefix}"],
	[class*="#{$iconPrefix}"] {
		font-family: $family;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		// Improve font rendering
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	@each $icon, $code in map-get($iconSet, 'icons') {
		@include oIconsIcon($icon, $code);
	}
}

///	Output @font-face declarations for all icon font families
@mixin oIconsIncludeAll() {
	@each $family in map-keys($o-icons-icon-sets) {
		@include oIconsInclude($family);
	}
}
