/// Path to the assets
///
/// @type String
$o-icons-path: 'https://origami.pearsoned.com/build/files/o-icons@1.0.0/assets/' !default;

/// Path to the assets
///
/// @type String
$o-icons-is-silent: true !default;

/// Icon sets
///
/// @type Map
$o-icons-icon-sets: (
	'oc-icons': (
		prefix: 'oc-icon-',
		icons: (
			'check':               e698,
			'spreadsheet':         e656,
			'presentation':        e657,
			'tour':                e658,
			'participation':       e659,
			'discussion-topic':    e65a,
			'performance':         e65b,
			'module':              e65c,
			'quick-assess':        e65d,
			'simulation':          e65e,
			'article':             e65f,
			'everyone':            e660,
			'institution':         e661,
			'person':              e662,
			'reply-square':        e663,
			'share-doc':           e664,
			'doc-sharing':         e665,
			'people':              e666,
			'back-arrow':          e667,
			'not-visible':         e668,
			'image-missing':       e66a,
			'audio-note':          e66b,
			'collapse-full':       e66c,
			'fullscreen':          e66d,
			'fullscreen-square':   e66e,
			'microphone':          e66f,
			'reply':               e670,
			'tag':                 e671,
			'compass':             e672,
			'tools':               e673,
			'map':                 e675,
			'assessment':          e676,
			'video-lab':           e677,
			'video-lesson':        e678,
			'video-lecture':       e679,
			'audio':               e67a,
			'list':                e67b,
			'chart-square':        e67c,
			'attach':              e67d,
			'notification':        e67f,
			'watch':               e680,
			'power':               e681,
			'inbox':               e682,
			'activity':            e683,
			'flag':                e684,
			'unsupported-content': e686,
			'respond':             e687,
			'institution-alt':     e689,
			'link':                e68a,
			'pivot':               e68b,
			'started':             e68c,
			'not-started':         e68d,
			'summative-quiz':      e68e,
			'fully-online':        e690,
			'peer-assessment':     e691,
			'attendance':          e692,
			'available':           e693,
			'busy':                e694,
			'unavailable':         e695,
			'other':               e696,
			'assignment':          e697,
			'logo':                e638,
			'up':                  e63a,
			'right':               e63b,
			'down':                e63c,
			'visible':             e63d,
			'catalog':             e63e,
			'images':              e63f,
			'location':            e640,
			'dashboard':           e641,
			'ebook':               e642,
			'messages':            e643,
			'locate':              e644,
			'photo':               e646,
			'alert-triangle':      e647,
			'alert-circle':        e62c,
			'alert-square':        e649,
			'alert-diamond':       e64a,
			'book':                e64b,
			'timer':               e64c,
			'cloud':               e64e,
			'upload':              e64f,
			'download':            e650,
			'trash':               e651,
			'recommended':         e654,
			'textbook':            e655,
			'unlock':              e628,
			'lock':                e629,
			'no':                  e62a,
			'add-attach':          e62b,
			'close-delete':        e62c,
			'collapse':            e62d,
			'clock':               e62e,
			'info':                e62f,
			'arrow-circle-left':   e630,
			'arrow-circle-right':  e631,
			'arrow-circle-up':     e632,
			'arrow-circle-down':   e633,
			'refresh':             e634,
			'avatar':              e635,
			'add':                 e636,
			'close-x':             e637,
			'video':               e600,
			'target':              e601,
			'submissions':         e602,
			'stream':              e603,
			'settings':            e604,
			'search':              e605,
			'ring':                e606,
			'outline':             e608,
			'menu':                e60a,
			'menu-list':           e60b,
			'like':                e60c,
			'idea':                e60d,
			'home':                e60e,
			'groups':              e60f,
			'gradebook':           e610,
			'goal':                e611,
			'follow':              e612,
			'ellipsis':            e613,
			'discussions':         e614,
			'crossroads':          e615,
			'content':             e617,
			'compose':             e618,
			'communities':         e619,
			'collections':         e61a,
			'collaborations':      e61b,
			'chart':               e61c,
			'calendar':            e61d,
			'arrow-up':            e61e,
			'arrow-sm-up':         e61f,
			'arrow-sm-right':      e620,
			'arrow-sm-down':       e622,
			'arrow-right':         e623,
			'arrow-left':          e624,
			'arrow-down':          e625,
			'application':         e626,
			'announce':            e627,
			'share':               e669,
			'milestone':           e609,
			'course':              e616,
			'instructor':          e67e,
			'pdf':                 e607,
			'arrow-sm-left':       e621,
			'google':              e699,
			'skype':               e69a,
			'edit':                e69b,
			'facebook-circle':     e69c,
			'facebook':            e69d,
			'google-circle':       e69e,
			'skype-circle':        e69f,
			'twitter-circle':      e6a0,
			'twitter':             e6a1,
			'podcast':             e674,
			'mail':                e685,
			'network':             e688,
			'blended':             e68f,
			'left':                e639,
			'docs':                e645,
			'mastery':             e64d,
			'camera':              e652,
			'skills':              e653
		)
	)
);
